<div class="item<%= " active" if product == @products.first %>">
  <img src="https://dl.dropboxusercontent.com/u/9485125/bike2berlin/<%=product.image_url %>">
  <div class="carousel-caption">
    <%= link_to product.name, product %>
  </div>
</div>