<div class="container">
<div class="hero-wrapper">
  <hero class="bike">
    <div class="Header-img" style="background-image: url(<%= asset_path 'racebike.jpg' %>)">
      <div class="teaser">
        <h1>About</h1>
        <h2>Founded in 2016 we are dedicated to offer you bikes for the best value for money!</h2>
      </div>
    </div>
  </hero>
</div>
</div>
