<div class="container">
<div class="hero-wrapper">
  <hero class="bike">
    <div class="Header-img" style="background-image: url(<%= asset_path 'bikebrick.jpg' %>)">
      <div class="teaser">
        <h1>Contact</h1>
        <h2>Later on, you will find contact infomation on this page. Maybe a map of the bike store too.</h2>
      </div>
    </div>
  </hero>
</div>
</div>
