<div class="container">
<div class="hero-wrapper">
  <hero class="bike">
    <div class="Header-img" style="background-image: url(<%= asset_path 'wall.jpg' %>)">
      <div class="teaser">
        <h1>Welcome to Bike Berlin</h1>
        <h2>Todays featured selection of <span style="color: <%= @products[0].color %>; font-weight: bold"> <%= @products[0].color %> </span> bikes:</h2>
          <%= render partial: "carousel" %>
      </div>
    </div>
  </hero>
</div>
</div>

