<div class="container">
<div class="hero-wrapper">
  <hero class="bike">
    <div class="Header-img" style="background-image: url(<%= asset_path 'wall.jpg' %>)">
      <div class="teaser">
        <h1>Welcome to Bike Berlin</h1>
        <h2>Your source for used bikes in Berlin!</h2>
          <%= render partial: "carousel" %>
      </div>
    </div>
  </hero>
</div>
</div>

