<div class="container">
	<div class="hero-wrapper">
	  <hero class="bike">
	    <div class="Header-img" style="background-image: url(<%= asset_path 'bikebrick.jpg' %>)">
	      <div class="teaser">

					<h2>Thank you. We have received your message and will respond as soon as possible.</h2>

	      </div>
	    </div>
	  </hero>
	</div>
</div>				