/* line 5, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
header, footer {
  background: url(/assets/wall-d3fa89f78575dca4a53c82fc12b4b0c3dfd43d492a3091148d383dfc2386f0c2.jpg) center center;
  z-index: 100;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #fff;
}

/* line 16, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
a#logo {
  display: block;
  width: 50%;
  max-width: 508px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
}

/* line 25, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
header h2 {
  color: #fff;
  width: 30%;
  position: absolute;
  right: 30px;
  text-shadow: rgba(0, 0, 0, 0.86) 0 -1px 1px;
  line-height: 1.1;
  bottom: 100px;
}

/* line 35, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
nav {
  display: flex;
  margin: 0 -15px;
}

/* line 40, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
nav a {
  text-align: center;
  background-color: #fff;
  width: 33.33334%;
  display: inline-block;
  line-height: 74px;
  height: 70px;
  color: #000;
  font-size: 2.4rem;
  font-weight: 400;
  transition: all .4s ease-out;
}

/* line 53, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
nav a:link, nav a:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

/* line 59, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
nav a.active, nav a.active:hover {
  color: #fff;
  background-color: transparent;
  letter-spacing: 10px;
}

/* line 65, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
nav a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  letter-spacing: 10px;
  text-decoration: none;
}

/* typography */
/* line 73, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

/* Format bike-jumbotron with teaser */
/* line 81, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
.hero-wrapper {
  position: relative;
  height: 750px;
  margin: 0 -15px;
}

/* line 87, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
.bike {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* line 94, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
.Header-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}

/* line 106, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
.teaser {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  text-align: center;
  z-index: 1;
  color: #fff;
}

/* line 116, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
.teaser h1 {
  font-size: 7.2rem;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.86) 0 -1px 1px;
}

/* line 122, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
.teaser h2 {
  font-size: 4.8rem;
}

/* line 126, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
footer a {
  text-decoration: none;
  color: #fff;
}

/* line 131, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
footer a:hover {
  color: #fff;
}

/* use font-size based on rem */
/* line 136, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
html {
  font-size: 62.5%;
}

/* line 137, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
body {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 138, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 139, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 140, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  /* line 143, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
  .teaser {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
  }

  /* line 149, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
  .teaser h1 {
    font-size: 3.6rem;
  }

  /* line 152, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
  .teaser h2 {
    font-size: 2.4rem;
  }

  /* line 155, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
  nav a {
    font-size: 2rem;
  }

  /* line 158, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
  nav a.active, nav a.active:hover, nav a:hover {
    letter-spacing: 5px;
  }

  /* line 161, /home/mlehmann/apps/cf_test/app/assets/stylesheets/static_pages.scss */
  header h2 {
    font-size: 2rem;
    bottom: 70px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

