// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {



	.row {
	  overflow: hidden; 
	}

	[class*="col-"] p{
	  min-height: 80px;
	  border-bottom: 1px solid black;
	}

	[class*="col-"] h2{
	  font-weight: bold;
	}

	[class*="col-"] strong{
	  margin: 33px;
	  font-size: 24px;
	}

	[class*="col-"] {
	  margin-bottom: 33px;
	}

		[class*="col-"] .product_box{
	  border: 1px solid black;
	  padding: 5px;
	}



}