// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "static_pages";

.products, .users {

	background: image-url("wall.jpg") center center;	

	h1 {
	font-size: 6.0rem;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.86) 0 -1px 1px;
	}

	.pagination {
		.pagination_button {
			display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	  }
	  .previous_page { 
	    @extend .pagination_button;
	    border: 1px solid transparent;
	    border-radius: 4px 0px 0px 4px;
	  	background: white; 
	  	color: #7777ff; 
		  }
	  .previous_page.disabled { 
	  	@extend .pagination_button;
	    border: 1px solid transparent;
	    border-radius: 4px 0px 0px 4px;
	  	background: white; 
	  	color: #777;
	  }
	  a { 
	  	@extend .pagination_button;
	    border: 1px solid transparent;
	    border-radius: 0px;
	  	background: white; 
	  	color: #777;	 
	  	} 
	  .current { 
	  	@extend .pagination_button;
	    border: 1px solid transparent;
	    border-radius: 0px;
	  	background: grey; 
	  	color: white;
	  }
	  .next_page { 
	  	@extend .pagination_button;
	    border: 1px solid transparent;
	    border-radius: 0px 4px 4px 0px;
	  	background: white; 
	  	color: #7777ff; 
	  }
	  .next_page.disabled { 
	  	@extend .pagination_button;
	    border: 1px solid transparent;
	    border-radius: 0px 4px 4px 0px;
	  	background: white; 
	  	color: #777;
	  	}
	}




	.dl-horizontal {
		color: white;
		font-size: 1.8rem;
	}

	@media (max-width: 768px) { 

		h1 {
			font-size: 3.6rem;
		}
	}


	.row {
	  overflow: hidden; 
	}

	.page-header {
		border-bottom: none;
	}

	h1{
		color: white;
		font-weight: bold;
	}

	[class*="col-"] h2{
	  font-weight: bold;
	}

	.control-label{
	  color: white;
	}

	[class*="col-"] strong{
	  margin: 33px;
	  font-size: 24px;
	}

	[class*="col-"] {
	  margin-bottom: 33px;
	}

	.product_box{
  border: 1px solid black;
  padding: 5px;
  background-color: white;
	}

}