
<div class="container products">
<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


  <div class="row">
  	<% cache ["v1-#{params[:page]}-#{params[:q]}", cache_key_for_products] do %>
    	<%= render @products %>
    <% end %><!-- end cache @products -->
  </div>

<%= will_paginate @products %>

</div><!--end container products-->
